name: Android CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'

    - name: JVM Console
      working-directory: ./JVMConsole
      run: |
        chmod +x gradlew
        ./gradlew jar        

    - name: Building App Services Usage Samples
      working-directory: ./AppServicesUsageSamples
      run: |
        chmod +x gradlew
        ./gradlew assemble  

    - name: Building Intro [Debug]
      working-directory: ./Intro
      run: |
        chmod +x gradlew
        ./gradlew buildDebug

    - name: Building Bookshelf [Debug]
      working-directory: ./Bookshelf
      run: |
        chmod +x gradlew
        ./gradlew buildDebug
        
    - name: Building KMP Demo
      working-directory: ./MultiplatformDemo
      run: |
        chmod +x gradlew
        ./gradlew assemble  

    - name: Building KMP Sync Demo
      working-directory: ./MultiplatformDemoWithSync
      run: |
        chmod +x gradlew
        ./gradlew assemble  

    - name: Building Java-Kotlin-Maven Interop Sample
      working-directory: ./JavaKotlinMavenInterop
      run: |
        chmod +x gradlew
        ./gradlew :kotlin-lib:publishToMavenLocal
        ./gradlew :java-app-gradle:run
        cd java-app-maven
        mvn compile exec:java  
